
<!--
  <input type="text" #empresa [disabled]="habilitar">
<br>
<br>
<button  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="llamaempresa(empresa.value)" >
    presiona
  </button>
  <br>

   <h2>{{textoregis}}</h2>
  <input type="radio" name="nregis" value="si" (click)="setusuario($event)" >
  <br>
  <h1>no requistrado</h1>
  <input type="radio" name="nregis" value="no" (click)="setusuario($event)">
  {{getresgis()}}
<br>
  introduce la empresa: <input type="text" [(ngModel)]="empresa">
<h1>{{title}}</h1>
<form action="">
 <input type="number" name="numero1" [(ngModel)]="numero1">
  <br>
  <input type="number" name="numero2" [(ngModel)]="numero2">
<br>
<button value="sumar" (click)="suma()">presiona</button>


</form>
<p>resultado:{{resultado}}</p>


-->

<h1>{{title}}</h1>
